* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav start */

#top_nav {
    /* background-color: #daac00; */
    background-color: #000;
    padding: 0 8%;
}

.navbar-dark {
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-left: 25px;
}

#searchbox::placeholder {
    color: #fff;
}

#searchbox {
    background-color: #fcc302;
    color: #fff;
    border: 0;
    border-radius: 0;
    position: relative;
    left: 48px;
    box-shadow: 5px 10px 11px 0px #00000021;
}

#searchbtn {
    position: relative;
    z-index: 99;
    background-color: #00bec9;
    color: white;
    border: 0;
    border-radius: 0;

}

@media only screen and (max-width:768px) {
    #searchform {
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -40px;
    }
}

@media screen and (max-width:500px) {
    #top_nav {
        padding: 0;
    }
}

/* banner start */
#banner {
    background-color: #fcc302;
    padding-bottom: 20px;
    /* padding-top: 20px; */
}

#banner-text h1 {
    color: #fff;
    font-size: 70px;
    margin-top: 100px;
}

#banner-text p {
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
}

#banner-btn1 {
    background-color: #00bec9;
    border: 2px solid #00bec9;
    color: #fff;
}

#banner-btn2 {
    color: #fff;
    border: 2px solid #fff;
    margin-left: 15px;
    background: #000;
}

@media only screen and (max-width: 1300px) {
    #banner-text h1 {
        font-size: 55px;
    }

    #banner {
        padding-bottom: 70px;
    }
}


@media only screen and (max-width: 900px) {
    #banner-text h1 {
        font-size: 40px;
    }


}

/* banner end  */

/* service start */

#service-text {
    padding-top: 10%;
    padding-bottom: 5%;
}

#service-btn {
    color: white;
    background: #000;
    border: 2px solid #fcc302;
}

#service-img {
    padding: 5%;
}

@media screen and (max-width:768px) {
    #service-img {
        padding-top: 10%;
    }
}


/* service end */

/* counter section start*/

#counter-section {
    background-image: url(../images/bacground1.jpg);
    background-size: cover;
    /* height: 350px; */
    padding-top: 50px;
    padding-bottom: 70px;
    background-position: center;

}

.counter-icon {
    font-size: 70px;
    color: #000;
}

@media only screen and (max-width:500px) {
    .counter-icon {
        font-size: 50px;
    }
}

/* counter section end*/

/* blog section start */

#blog {
    padding-bottom: 70px;
    padding-top: 70px;
}

#blog-title {
    font-size: 50px;
    font-weight: bolder;
}

#blog-p {
    font-size: 20px;
    margin-bottom: 70px;
}

.article-detail {
    padding: 15px;
    border: 1px solid rgb(185, 185, 185);
    border-top: 0;
}

.article-date,
.article-link {
    color: #00bec9;
}

/* blog section end */

/* footer start */
#footer {
    background-color: #343434;
    padding-top: 80px;
    padding-bottom: 80px;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer-search-box {
    background-color: #fcc302;
    color: #fff;
    border: 0;
    padding: 15px;
    width: 100%;
    max-width: 250px;
    position: relative;
    left: 10px;

}

#footer-search-submit {
    background-color: #00bec9;
    color: #fff;
    border: 0;
    border-radius: 0;
    padding: 15px 40px;
}

.social-icon {
    font-size: 25px;
    padding-left: 5px;
}

/* footer end */

@media only screen and (max-width: 1150px) {
    #footer-search-box {
        max-width: 200px;
    }

}

@media only screen and (max-width: 991px) {
    #footer-search-box {
        max-width: 150px;
    }

}

@media only screen and (max-width: 768px) {
    #footer-search-box {
        max-width: 120px;
    }

}

@media only screen and (max-width: 500px) {
    #footer-search-box {
        max-width: 200px;
    }

    #footer {
        padding-top: 10px;
    }

    #footer h4 {
        padding-top: 50px;
    }

}